/* style.css */

/* Common Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 75%;
}

body {
    background-color: #444444;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #414141;
    margin: 3.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

a,
a.visited {
    color: inherit;
    text-decoration: underline;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.page-cover-image {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.page-description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.block-color-yellow {
    color: #fdecc8;
    fill: #fdedc9;
}

.block-color-aquamarine {
    color: #d8fff2;
    fill: #d8fff2;
}

.block-color-linkedin-blue {
    color: #0077b5;
    fill: #0077b5;
}

/* End of Common styles */

/* Card */

.column-list {
    display: flex;
    justify-content: space-between;
}

.column {
    padding: 0 1em;
}

.column:first-child {
    padding-left: 0;
}

.column:last-child {
    padding-right: 0;
}

.card-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    perspective: 150rem;
    border: none;
    border-radius: 0.5rem;
    margin: 2.5rem;
}

.card-text {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    color: #dddddd;
    margin: 2.5rem;
}

/* End of Card */